In [1]:
import pandas as pd

df = pd.read_csv('/home/alexkay/Downloads/StudentsPerformance.csv')

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [21]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [14]:
df1 = df[df['lunch'] == 'standard']
df2 = df[df['lunch'] != 'standard']

In [22]:
print(df1['math score'].mean(), df2['math score'].mean())
print(df1['reading score'].mean(), df2['reading score'].mean())
print(df1['writing score'].mean(), df2['writing score'].mean())

70.03410852713178 58.92112676056338
71.65426356589147 64.65352112676057
70.8232558139535 63.02253521126761

In [19]:
df1['math score'].std(), df2['math score'].std()

(13.653500996457035, 15.159956131640516)

In [24]:
df.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000